certbot-dns-acmedns==0.1.0
certbot-dns-aliyun==0.38.1
certbot-dns-cloudflare==1.19.0
certbot-dns-cloudxns==1.18.0
certbot-dns-corenetworks==0.2.1
certbot-dns-cpanel==1.0.1
certbot-dns-digitalocean==1.18.0
certbot-dns-directadmin==0.0.23
certbot-dns-dnsimple==1.18.0
certbot-dns-dnsmadeeasy==1.18.0
certbot-dns-dnspod==0.1.0
certbot-dns-eurodns==0.0.4
certbot-dns-gandi==1.3.2
certbot-dns-google==1.18.0
certbot-dns-hetzner==1.0.5
certbot-dns-inwx==2.1.3
certbot-dns-ispconfig==0.2.0
certbot-dns-isset==0.0.3
certbot-dns-linode==1.18.0
certbot-dns-luadns==1.18.0
certbot-dns-netcup==1.1.1
certbot-dns-njalla==1.0.0
certbot-dns-nsone==1.18.0
certbot-dns-ovh==1.18.0
certbot-dns-powerdns==0.2.1
certbot-dns-rfc2136==1.18.0
certbot-dns-route53==1.18.0
certbot-dns-transip-simple==1.1.0
certbot-dns-vultr==1.0.3
